.ContantsImg{
  position: relative;
  &__img{
    width: 100%;
  }
}
.Imgcontants{
  position: absolute;
  top: 120px;
  left: 250px;
  color: #FFF;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  &__title{
    font-size: 41px;
    font-weight: 900;
  }
  &__explain{
    margin-top: 50px;
    font-size: 22px;
    line-height: 2.27;
  }
}