.footer{
  height: 300px;
  background-image: linear-gradient(225deg, #5a9ae3, #48b3db);
  box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 9999;
  &__wrapper{
    width: 1366px;
    margin: 0 auto;
    position: relative;
    &__icons{
      position: absolute;
      top: 50px;
      left: 7px;
      &__icon{
        margin-left: 6px;
        width: 50px;
      }
    }
    &__developer{
      position: absolute;
      top: 45px;
      right: 20px;
      font-size: 21px;
      text-align: right;
      color: #fff;
      font-weight: 900;
    }
    &__copyright{
      position: absolute;
      width: 500px;
      left: 13px;
      top: 234px;
      color: #FFF;
      &--text{
        .img{
          font-size: 13px;
        }
        .cocktail{
          font-size: 20px;
        }
      }
    }
  }
}