
.Navigation{
  position: fixed;
  height: 70px;
  background-color: transparent;
  z-index: 9999;
  &__transparent{
    transition: 0.5s;
    background-color: #FFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    .Navigation__contants__links{
      &__link{
        color: #505050;
        transition: 0.5s;
      }
    }
  }
  &__contants{
    position: relative;
    width: 1366px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    &__img{
      height: 40px;
      transition: 0.5s;
    }
    &__links{
      position: absolute;
      right: 0;
      height: 100%;
      &__link{
        font-size: 17px;
        line-height: 70px;
        margin-left: 30px;
        color: #FFF;
        text-decoration: none;
        transition: 0.5s;
        &.--login{
          margin-left: 150px
        }
      }
    }
  }
}