
.Main{
  height: 900px;
  width: 1245px;
  padding: 80px 130px 0 130px;
  margin: 0 auto;
  &__service{
    display: block;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #000;
    font-weight: 900;
  }
  &__ExplainMenu{
    margin-top: 67px;
    width: 100%;
    text-align: center;
    &__Menu{
      margin-right: 240px;
      font-size: 20px;
      display: inline-block;
      cursor: pointer;
      &:after{
        content: "";
        position: relative;
        top: 7.5px;
        display: block;
        width: 120px;
        border-top: solid 4px transparent;
      }
      &.--last{
        margin-right: 0;
      }
      &.--select{
        &:after{
          content: "";
          position: relative;
          top: 7.5px;
          display: block;
          width: 120px;
          border-top: solid 4px #505050;
        }
      }
    }
  }
}